.hero-index {
  background-image: url("images/pexels-tima-miroshnichenko-5439453.jpg"); min-height: 110vh;
  background-size: cover;        /* makes image fill the section */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* prevents repeating */
  height: 400px;
  color: white;
  padding: 40px;
  margin-top: 30px;
  text-align: center;
  
}

.body {
  margin:0;
}

.navbar {
  background:rgb(75, 85, 151);

}

.ul {
  display:flex;
  list-style:none;
  gap:30px;
  margin:0;
  padding:0;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}

  .card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }
